body    {
    font-size: 100%;
}

#pageHead   {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: red;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    color: yellow;
}

#mainMenu {
    position:relative;
    left: 25%;
    width: 50%;
    text-align:center;
}

#navMenu {
    position: relative;
    right: 0px;
    text-align: center;
    word-wrap: break-word;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 0;
    background-color: lightyellow;
}

.centered-image {
    margin: auto;
}

#mainContent {
    position: relative;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#imageCitation {
    font-size: 0.8em;
    color: red;
}

h1 {
    text-align: center;
}

table {
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 1em;
}

th {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.inlineButton {
    position: relative;
    width: 80%;
    left: 10%;
    margin: auto;
}

.no_data {
    color: red;
    display: none;
}

.data_table {
    display: none;
}